.navbar{
    height: 80px;
    width: 100%;
    background-color: cornflowerblue;
    border: 1px solid black;
    display: flex;
    flex-direction: row;
}
.navbar .left{
    /* border: 1px red solid; */
    width: 30%;
    height: 80px;
    line-height: 80px;
}

.navbar .logo{
    font-size: 30px;
}

.navbar .right{
    width: 70%;
    height: 80px;
    line-height: 80px; 
}

.menu{
    height: 100%;
    display: flex;
    flex-direction: row;
}

.menu li{
    padding: 0 30px;
}

.menu li:hover{
    background-color: brown;
}